iot_tsio
[{"id":"888bee32.7fb9c","type":"tab","label":"Home"},{"id":"85dde160.1b48b8","type":"tab","label":"Kitchen"},{"id":"3eaf5fa8.7764c8","type":"tab","label":"Living Room"},{"id":"55c510a.02575f","type":"tab","label":"Bed Room1"},{"id":"8c267a1d.edbe98","type":"tab","label":"WC 1"},{"id":"9563b445.577ad8","type":"tab","label":"Garage"},{"id":"83477c2d.7a0ab8","type":"tab","label":"Garden"},{"id":"f684b96b.cedf4","type":"mongodb","z":"","hostname":"172.18.0.3","port":"27017","db":"nodered","name":""},{"id":"30c64810.12ee1","type":"mqtt-broker","z":"","broker":"172.18.0.2","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ced27fae.24bbc","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#13bbdf","baseFont":"Helvetica Neue","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#13bbdf","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#4fd3f0","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#13bbdf","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"dc2efaa6.c0a598","type":"ui_tab","z":"","name":"Kitchen","icon":"dashboard","order":2},{"id":"1a2cc5fa.b50b2a","type":"ui_tab","z":"","name":"Living Room","icon":"dashboard","order":3},{"id":"34cf78e.a3a1e08","type":"ui_group","z":"","name":"Sensors","tab":"dc2efaa6.c0a598","disp":false,"width":"6"},{"id":"8fe446a5.35b858","type":"ui_tab","z":"","name":"WC","icon":"dashboard","order":5},{"id":"ef4abc66.f3e3e8","type":"ui_tab","z":"","name":"Garage","icon":"dashboard","order":6},{"id":"4eaaf7be.b27e2","type":"ui_tab","z":"","name":"Garden","icon":"dashboard","order":7},{"id":"94ee72bc.93ceb8","type":"ui_group","z":"","name":"Sensors","tab":"1a2cc5fa.b50b2a","disp":true,"width":"6"},{"id":"4f5fbcd3.ad191c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"db5216ce.793e4","type":"ui_group","z":"","name":"Safety and security","tab":"4f5fbcd3.ad191c","disp":true,"width":"6"},{"id":"2029985.b75c4e8","type":"ui_tab","z":"","name":"Bed Room","icon":"dashboard","order":4},{"id":"cc2e108.deb5ff","type":"ui_group","z":"","name":"Sensors","tab":"2029985.b75c4e8","disp":true,"width":"6"},{"id":"366de7e3.5a2c1","type":"ui_group","z":"","name":"Sensors","tab":"8fe446a5.35b858","disp":true,"width":"6"},{"id":"6ac58ff8.f98aa8","type":"ui_group","z":"","name":"Sensors","tab":"ef4abc66.f3e3e8","disp":true,"width":"6"},{"id":"3dae893.4978cf6","type":"ui_group","z":"","name":"Garden","tab":"4eaaf7be.b27e2","disp":true,"width":"6"},{"id":"c809df82.bfc688","type":"ui_group","z":"","name":"AC","tab":"dc2efaa6.c0a598","order":2,"disp":true,"width":"6"},{"id":"3781aacd.b614e6","type":"ui_group","z":"","name":"Gases measure","tab":"dc2efaa6.c0a598","order":3,"disp":true,"width":"6"},{"id":"fe9339a5.bef75","type":"ui_group","z":"","name":"Gases measure","tab":"dc2efaa6.c0a598","disp":false,"width":"6"},{"id":"7b70d311.c87e6c","type":"ui_group","z":"","name":"Windows","tab":"dc2efaa6.c0a598","disp":true,"width":"6"},{"id":"4a4e4e71.8a67","type":"ui_group","z":"","name":"Lights","tab":"dc2efaa6.c0a598","disp":true,"width":"6"},{"id":"6b51827b.829014","type":"ui_group","z":"","name":"Food","tab":"dc2efaa6.c0a598","order":7,"disp":true,"width":"6"},{"id":"89ad649f.485dd8","type":"ui_group","z":"","name":"Windows","tab":"1a2cc5fa.b50b2a","order":2,"disp":true,"width":"6"},{"id":"5eb33f70.461","type":"ui_group","z":"","name":"Lights","tab":"1a2cc5fa.b50b2a","order":3,"disp":true,"width":"6"},{"id":"11bbe620.5cb03a","type":"ui_group","z":"","name":"Windows","tab":"2029985.b75c4e8","order":2,"disp":true,"width":"6"},{"id":"c7dd22bc.38d4f","type":"ui_group","z":"","name":"Lights","tab":"2029985.b75c4e8","order":3,"disp":true,"width":"6"},{"id":"f4f323b1.f45668","type":"ui_group","z":"","name":"Windows","tab":"8fe446a5.35b858","order":2,"disp":true,"width":"6"},{"id":"fde18202.6bbde8","type":"ui_group","z":"","name":"Lights","tab":"8fe446a5.35b858","order":3,"disp":true,"width":"6"},{"id":"2a36fbc.0a0ff84","type":"ui_group","z":"","name":"Windows","tab":"ef4abc66.f3e3e8","order":2,"disp":true,"width":"6"},{"id":"dd46189c.35cd4","type":"ui_group","z":"","name":"Lights","tab":"ef4abc66.f3e3e8","order":3,"disp":true,"width":"6"},{"id":"b252abcd.8f59b8","type":"ui_group","z":"","name":"Control","tab":"ef4abc66.f3e3e8","order":4,"disp":true,"width":"6"},{"id":"675df942.eb8258","type":"websocket-client","z":"","path":"http://www.telepizza.pt/","wholemsg":"false"},{"id":"a9e21d73.f88988","type":"ui_group","z":"","name":"Pool","tab":"4eaaf7be.b27e2","order":2,"disp":true,"width":"6"},{"id":"fbf1c235.fa8608","type":"ui_group","z":"","name":"Energy and cost","tab":"4f5fbcd3.ad191c","order":2,"disp":true,"width":"6"},{"id":"aab0e432.f2a4e","type":"ui_group","z":"","name":"Windows","tab":"4f5fbcd3.ad191c","order":3,"disp":true,"width":"6"},{"id":"a4e36b69.2cb7a","type":"ui_slider","z":"85dde160.1b48b8","name":"","label":"Speed","group":"c809df82.bfc688","order":3,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":"25","x":123.75,"y":110,"wires":[[]]},{"id":"807b3472.80ebb8","type":"ui_numeric","z":"85dde160.1b48b8","name":"","label":"Temperature","group":"c809df82.bfc688","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"16","max":"33","step":1,"x":150,"y":62.5,"wires":[[]]},{"id":"dfacffc9.8cdd48","type":"ui_dropdown","z":"85dde160.1b48b8","name":"","label":"Mode","place":"Select option","group":"c809df82.bfc688","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Auto","value":"auto","type":"str"},{"label":"Cooling","value":"cooling","type":"str"},{"label":"heating","value":"heating","type":"str"}],"payload":"","topic":"","x":121.25,"y":157.5,"wires":[[]]},{"id":"41441e71.59a97","type":"ui_switch","z":"85dde160.1b48b8","name":"","label":"Power","group":"c809df82.bfc688","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":121.25,"y":211.25,"wires":[[]]},{"id":"4beeada0.19915c","type":"inject","z":"85dde160.1b48b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":369.375,"y":112.5,"wires":[["7100b07.1a0655"]]},{"id":"7100b07.1a0655","type":"random","z":"85dde160.1b48b8","name":"","low":"0","high":"0.5","inte":"false","x":510.625,"y":153.75,"wires":[["c54c6205.1525e"]]},{"id":"58c84437.eeec2c","type":"ui_slider","z":"85dde160.1b48b8","name":"","label":"Window 1","group":"7b70d311.c87e6c","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":341.875,"y":267.5,"wires":[[]]},{"id":"c6536358.7a4c9","type":"ui_slider","z":"85dde160.1b48b8","name":"","label":"Window 2","group":"7b70d311.c87e6c","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":338.75,"y":321.25,"wires":[[]]},{"id":"61efffbd.d175c8","type":"ui_switch","z":"85dde160.1b48b8","name":"","label":"Light 1","group":"4a4e4e71.8a67","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":526.875,"y":276.25,"wires":[[]]},{"id":"294ad87a.11f558","type":"ui_switch","z":"85dde160.1b48b8","name":"","label":"Light 2","group":"4a4e4e71.8a67","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":522.5,"y":333.75,"wires":[[]]},{"id":"9db92895.8e4458","type":"mqtt in","z":"85dde160.1b48b8","name":"","topic":"home/kitchen/temperature","qos":"2","broker":"30c64810.12ee1","x":206,"y":566.25,"wires":[["684354cd.5b299c"]]},{"id":"c40618f1.17008","type":"mqtt out","z":"85dde160.1b48b8","name":"","topic":"home/kitchen/temperature","qos":"","retain":"","broker":"30c64810.12ee1","x":612,"y":397.25,"wires":[]},{"id":"7004cbf9.17f75c","type":"rpi-sensehatsim in","z":"85dde160.1b48b8","name":"S_KT_TH1","motion":false,"env":true,"stick":false,"x":135,"y":404.25,"wires":[["96304ec6.4700c","20b967e4.39a5e8"]]},{"id":"96304ec6.4700c","type":"function","z":"85dde160.1b48b8","name":"Temperature","func":"var o = msg.payload\nmsg.payload = o.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":352,"y":400.25,"wires":[["c40618f1.17008"]]},{"id":"20b967e4.39a5e8","type":"function","z":"85dde160.1b48b8","name":"Humidity","func":"var o = msg.payload\nmsg.payload = o.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":326.5,"y":468.25,"wires":[["eaa0c515.cd084"]]},{"id":"eaa0c515.cd084","type":"mqtt out","z":"85dde160.1b48b8","name":"","topic":"home/Kitchen/humidity","qos":"","retain":"","broker":"30c64810.12ee1","x":559.5,"y":458.25,"wires":[]},{"id":"78becd37.f293ec","type":"mqtt in","z":"85dde160.1b48b8","name":"","topic":"home/Kitchen/humidity","qos":"2","broker":"30c64810.12ee1","x":193.5,"y":626.25,"wires":[["7da94f03.8ebe68"]]},{"id":"7da94f03.8ebe68","type":"ui_gauge","z":"85dde160.1b48b8","name":"","group":"34cf78e.a3a1e08","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":559.5,"y":618.25,"wires":[]},{"id":"684354cd.5b299c","type":"ui_gauge","z":"85dde160.1b48b8","name":"","group":"34cf78e.a3a1e08","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":573.1666870117188,"y":571.9166870117188,"wires":[]},{"id":"eb603f25.f3756","type":"mqtt out","z":"3eaf5fa8.7764c8","name":"","topic":"home/living_room/temperature","qos":"","retain":"","broker":"30c64810.12ee1","x":653.25,"y":402.5,"wires":[]},{"id":"437fc074.968a7","type":"rpi-sensehatsim in","z":"3eaf5fa8.7764c8","name":"S_LR_TH1","motion":false,"env":true,"stick":false,"x":166.25,"y":409.5,"wires":[["e77d1f2d.1cab6","da99c7c1.d195f"]]},{"id":"e77d1f2d.1cab6","type":"function","z":"3eaf5fa8.7764c8","name":"Temperature","func":"var o = msg.payload\nmsg.payload = o.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":383.25,"y":405.5,"wires":[["eb603f25.f3756"]]},{"id":"da99c7c1.d195f","type":"function","z":"3eaf5fa8.7764c8","name":"Humidity","func":"var o = msg.payload\nmsg.payload = o.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":357.75,"y":473.5,"wires":[["86131a1d.51b11"]]},{"id":"86131a1d.51b11","type":"mqtt out","z":"3eaf5fa8.7764c8","name":"","topic":"home/living_room/humidity","qos":"","retain":"","broker":"30c64810.12ee1","x":600.75,"y":463.5,"wires":[]},{"id":"c7645b4.f3d5aa8","type":"mqtt in","z":"3eaf5fa8.7764c8","name":"","topic":"home/living_room/temperature","qos":"2","broker":"30c64810.12ee1","x":275.2341003417969,"y":564.9604187011719,"wires":[["94e9c3de.1645f8"]]},{"id":"94e9c3de.1645f8","type":"ui_gauge","z":"3eaf5fa8.7764c8","name":"","group":"94ee72bc.93ceb8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":621.2341003417969,"y":556.9604187011719,"wires":[]},{"id":"e4606592.803518","type":"mqtt in","z":"3eaf5fa8.7764c8","name":"","topic":"home/living_room/humidity","qos":"2","broker":"30c64810.12ee1","x":240.23410034179688,"y":646.2104187011719,"wires":[["220812ac.b9978e"]]},{"id":"220812ac.b9978e","type":"ui_gauge","z":"3eaf5fa8.7764c8","name":"","group":"94ee72bc.93ceb8","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":601.9007873535156,"y":641.9048156738281,"wires":[]},{"id":"42d49d88.0e4314","type":"mqtt out","z":"55c510a.02575f","name":"","topic":"home/bed_room/temperature","qos":"","retain":"","broker":"30c64810.12ee1","x":654.5,"y":336.25,"wires":[]},{"id":"2d1cc64f.c7fa02","type":"rpi-sensehatsim in","z":"55c510a.02575f","name":"S_BR_TH1","motion":false,"env":true,"stick":false,"x":177.5,"y":343.25,"wires":[["aeccde2a.d74558","a9da6d40.196d38"]]},{"id":"aeccde2a.d74558","type":"function","z":"55c510a.02575f","name":"Temperature","func":"var o = msg.payload\nmsg.payload = o.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":384.5,"y":339.25,"wires":[["42d49d88.0e4314"]]},{"id":"a9da6d40.196d38","type":"function","z":"55c510a.02575f","name":"Humidity","func":"var o = msg.payload\nmsg.payload = o.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":359,"y":407.25,"wires":[["554239f4.a8ae68"]]},{"id":"554239f4.a8ae68","type":"mqtt out","z":"55c510a.02575f","name":"","topic":"home/bed_room/humidity","qos":"","retain":"","broker":"30c64810.12ee1","x":592,"y":397.25,"wires":[]},{"id":"4b829108.f2b87","type":"mqtt in","z":"55c510a.02575f","name":"","topic":"home/bed_room/temperature","qos":"2","broker":"30c64810.12ee1","x":245.77777099609375,"y":507.5836181640625,"wires":[["de4b4343.22878"]]},{"id":"de4b4343.22878","type":"ui_gauge","z":"55c510a.02575f","name":"","group":"cc2e108.deb5ff","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":601.7777709960938,"y":499.5836181640625,"wires":[]},{"id":"117b3c89.4d0b13","type":"mqtt in","z":"55c510a.02575f","name":"","topic":"home/bed_room/humidity","qos":"2","broker":"30c64810.12ee1","x":233.27777099609375,"y":567.5836181640625,"wires":[["ce69a010.94093"]]},{"id":"ce69a010.94093","type":"ui_gauge","z":"55c510a.02575f","name":"","group":"cc2e108.deb5ff","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":617.4444885253906,"y":563.2779541015625,"wires":[]},{"id":"b414b56a.86594","type":"mqtt out","z":"8c267a1d.edbe98","name":"","topic":"home/wc/temperature","qos":"","retain":"","broker":"30c64810.12ee1","x":614.5,"y":361.25,"wires":[]},{"id":"fb62793a.9ea1d8","type":"rpi-sensehatsim in","z":"8c267a1d.edbe98","name":"S_WC1_TH1","motion":false,"env":true,"stick":false,"x":167.5,"y":368.25,"wires":[["907a3dd2.f08ef","d92c3afa.ab22e8"]]},{"id":"907a3dd2.f08ef","type":"function","z":"8c267a1d.edbe98","name":"Temperature","func":"var o = msg.payload\nmsg.payload = o.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":374.5,"y":364.25,"wires":[["b414b56a.86594"]]},{"id":"d92c3afa.ab22e8","type":"function","z":"8c267a1d.edbe98","name":"Humidity","func":"var o = msg.payload\nmsg.payload = o.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":349,"y":432.25,"wires":[["23def62c.341dba"]]},{"id":"23def62c.341dba","type":"mqtt out","z":"8c267a1d.edbe98","name":"","topic":"home/wc/humidity","qos":"","retain":"","broker":"30c64810.12ee1","x":562,"y":422.25,"wires":[]},{"id":"c49141d1.5891a","type":"mqtt in","z":"8c267a1d.edbe98","name":"","topic":"home/wc/temperature","qos":"2","broker":"30c64810.12ee1","x":214.7142333984375,"y":529.6787109375,"wires":[["b7d1901a.805be8"]]},{"id":"b7d1901a.805be8","type":"ui_gauge","z":"8c267a1d.edbe98","name":"","group":"366de7e3.5a2c1","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590.7142333984375,"y":521.6787109375,"wires":[]},{"id":"78fee267.dd3f6c","type":"mqtt in","z":"8c267a1d.edbe98","name":"","topic":"home/wc/humidity","qos":"2","broker":"30c64810.12ee1","x":202.2142333984375,"y":589.6787109375,"wires":[["b0cceda4.6f8d28"]]},{"id":"b0cceda4.6f8d28","type":"ui_gauge","z":"8c267a1d.edbe98","name":"","group":"366de7e3.5a2c1","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":581.3809204101562,"y":584.123046875,"wires":[]},{"id":"a92560d7.0efc8","type":"mqtt out","z":"9563b445.577ad8","name":"","topic":"home/garage/temperature","qos":"","retain":"","broker":"30c64810.12ee1","x":657,"y":331.25,"wires":[]},{"id":"c0243715.0eecc","type":"rpi-sensehatsim in","z":"9563b445.577ad8","name":"S_GG_TH1","motion":false,"env":true,"stick":false,"x":190,"y":338.25,"wires":[["aae840b5.d9ee5","68c1bf60.515cb8"]]},{"id":"aae840b5.d9ee5","type":"function","z":"9563b445.577ad8","name":"Temperature","func":"var o = msg.payload\nmsg.payload = o.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":397,"y":334.25,"wires":[["a92560d7.0efc8"]]},{"id":"68c1bf60.515cb8","type":"function","z":"9563b445.577ad8","name":"Humidity","func":"var o = msg.payload\nmsg.payload = o.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":371.5,"y":402.25,"wires":[["51643abc.4b186c"]]},{"id":"51643abc.4b186c","type":"mqtt out","z":"9563b445.577ad8","name":"","topic":"home/garage/humidity","qos":"","retain":"","broker":"30c64810.12ee1","x":594.5,"y":392.25,"wires":[]},{"id":"174df71a.6bb2e9","type":"mqtt in","z":"9563b445.577ad8","name":"","topic":"home/garage/temperature","qos":"2","broker":"30c64810.12ee1","x":243.57138061523438,"y":480.8216857910156,"wires":[["29e85ae2.806f36"]]},{"id":"29e85ae2.806f36","type":"ui_gauge","z":"9563b445.577ad8","name":"","group":"6ac58ff8.f98aa8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":609.5713806152344,"y":472.8216857910156,"wires":[]},{"id":"7e4826b7.56aa8","type":"mqtt in","z":"9563b445.577ad8","name":"","topic":"home/garage/humidity","qos":"2","broker":"30c64810.12ee1","x":231.07138061523438,"y":540.8216857910156,"wires":[["e30a5eab.368dd"]]},{"id":"e30a5eab.368dd","type":"ui_gauge","z":"9563b445.577ad8","name":"","group":"6ac58ff8.f98aa8","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600.2380676269531,"y":535.2660217285156,"wires":[]},{"id":"78fffa13.c44c84","type":"mqtt out","z":"83477c2d.7a0ab8","name":"","topic":"home/garden/temperature","qos":"","retain":"","broker":"30c64810.12ee1","x":653.75,"y":72.5,"wires":[]},{"id":"a9f97342.314d6","type":"rpi-sensehatsim in","z":"83477c2d.7a0ab8","name":"S_GD_TH1","motion":false,"env":true,"stick":false,"x":183.75,"y":114.5,"wires":[["390180fd.db3f3","2e649ef3.9a97e2","df7ce348.ae714"]]},{"id":"390180fd.db3f3","type":"function","z":"83477c2d.7a0ab8","name":"Temperature","func":"var o = msg.payload\nmsg.payload = o.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":393.75,"y":75.5,"wires":[["78fffa13.c44c84"]]},{"id":"2e649ef3.9a97e2","type":"function","z":"83477c2d.7a0ab8","name":"Humidity","func":"var o = msg.payload\nmsg.payload = o.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":368.25,"y":143.5,"wires":[["78e2ffce.57546"]]},{"id":"78e2ffce.57546","type":"mqtt out","z":"83477c2d.7a0ab8","name":"","topic":"home/garden/humidity","qos":"","retain":"","broker":"30c64810.12ee1","x":591.25,"y":133.5,"wires":[]},{"id":"df7ce348.ae714","type":"function","z":"83477c2d.7a0ab8","name":"Pressure","func":"var o = msg.payload\nmsg.payload = o.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":375.75,"y":195.5,"wires":[["3cd054b9.115ff4"]]},{"id":"3cd054b9.115ff4","type":"mqtt out","z":"83477c2d.7a0ab8","name":"","topic":"home/garden/pressure","qos":"","retain":"","broker":"30c64810.12ee1","x":608.75,"y":185.5,"wires":[]},{"id":"33e1bf73.9ea89","type":"mqtt in","z":"83477c2d.7a0ab8","name":"","topic":"home/garden/temperature","qos":"2","broker":"30c64810.12ee1","x":237.46429443359375,"y":460.78564453125,"wires":[["938e3bed.f6aac8"]]},{"id":"938e3bed.f6aac8","type":"ui_gauge","z":"83477c2d.7a0ab8","name":"","group":"3dae893.4978cf6","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":603.4642944335938,"y":452.78564453125,"wires":[]},{"id":"97a9f568.0217c8","type":"mqtt in","z":"83477c2d.7a0ab8","name":"","topic":"home/garden/humidity","qos":"2","broker":"30c64810.12ee1","x":224.96429443359375,"y":520.78564453125,"wires":[["fbbda7a.f7210d8"]]},{"id":"fbbda7a.f7210d8","type":"ui_gauge","z":"83477c2d.7a0ab8","name":"","group":"3dae893.4978cf6","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":594.1309814453125,"y":515.22998046875,"wires":[]},{"id":"a58ddbab.adbfb8","type":"mqtt in","z":"83477c2d.7a0ab8","name":"","topic":"home/garden/pressure","qos":"2","broker":"30c64810.12ee1","x":227.8214111328125,"y":577.9285888671875,"wires":[["daaed7f0.6b47b8"]]},{"id":"daaed7f0.6b47b8","type":"ui_gauge","z":"83477c2d.7a0ab8","name":"","group":"3dae893.4978cf6","order":2,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":596.9880981445312,"y":572.3729248046875,"wires":[]},{"id":"a1860d03.89ccc8","type":"ui_slider","z":"3eaf5fa8.7764c8","name":"","label":"Window 1","group":"89ad649f.485dd8","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":235,"y":76.25,"wires":[[]]},{"id":"820fc6e3.fb2da","type":"ui_slider","z":"3eaf5fa8.7764c8","name":"","label":"Window 2","group":"89ad649f.485dd8","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":231.875,"y":130,"wires":[[]]},{"id":"637bc06a.271fc8","type":"ui_switch","z":"3eaf5fa8.7764c8","name":"","label":"Light 1","group":"5eb33f70.461","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":420,"y":85,"wires":[[]]},{"id":"740caab7.579c64","type":"ui_switch","z":"3eaf5fa8.7764c8","name":"","label":"Light 2","group":"5eb33f70.461","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":415.625,"y":142.5,"wires":[[]]},{"id":"be911c24.aa92d","type":"ui_slider","z":"55c510a.02575f","name":"","label":"Window 1","group":"11bbe620.5cb03a","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":206.25,"y":65,"wires":[[]]},{"id":"a7700099.48df8","type":"ui_slider","z":"55c510a.02575f","name":"","label":"Window 2","group":"11bbe620.5cb03a","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":203.125,"y":118.75,"wires":[[]]},{"id":"f9e748d1.6446d8","type":"ui_switch","z":"55c510a.02575f","name":"","label":"Light 1","group":"c7dd22bc.38d4f","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":391.25,"y":73.75,"wires":[[]]},{"id":"f3f8550a.df0b68","type":"ui_switch","z":"55c510a.02575f","name":"","label":"Light 2","group":"c7dd22bc.38d4f","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":386.875,"y":131.25,"wires":[[]]},{"id":"78d89ab9.bbf4fc","type":"ui_slider","z":"8c267a1d.edbe98","name":"","label":"Window 1","group":"f4f323b1.f45668","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":237.5,"y":61.25,"wires":[[]]},{"id":"8266b6eb.dad5e","type":"ui_slider","z":"8c267a1d.edbe98","name":"","label":"Window 2","group":"f4f323b1.f45668","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":234.375,"y":115,"wires":[[]]},{"id":"b3bef160.b7d1f8","type":"ui_switch","z":"8c267a1d.edbe98","name":"","label":"Light 1","group":"fde18202.6bbde8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":422.5,"y":70,"wires":[[]]},{"id":"b6ccf4d9.e61dd","type":"ui_switch","z":"8c267a1d.edbe98","name":"","label":"Light 2","group":"fde18202.6bbde8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":418.125,"y":127.5,"wires":[[]]},{"id":"20a9ac4b.bf88bc","type":"ui_slider","z":"9563b445.577ad8","name":"","label":"Window 1","group":"2a36fbc.0a0ff84","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":150,"y":57.5,"wires":[[]]},{"id":"63304e26.64967","type":"ui_switch","z":"9563b445.577ad8","name":"","label":"Light 1","group":"dd46189c.35cd4","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":335,"y":66.25,"wires":[[]]},{"id":"af815325.7c5618","type":"ui_switch","z":"9563b445.577ad8","name":"","label":"Light 2","group":"dd46189c.35cd4","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":330.625,"y":123.75,"wires":[[]]},{"id":"1be22b7f.52703d","type":"ui_template","z":"85dde160.1b48b8","group":"6b51827b.829014","name":"","order":0,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n<body>\n\n<iframe style=\"height:500px\" src=\"http://telepizza.pt\">\n  \n</iframe>\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"x":516.875,"y":772.5,"wires":[[]]},{"id":"12a4146f.23bd44","type":"ui_switch","z":"9563b445.577ad8","name":"Gate","label":"Gate","group":"b252abcd.8f59b8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":521.875,"y":107.5,"wires":[[]]},{"id":"298a3d55.f67022","type":"mqtt out","z":"83477c2d.7a0ab8","name":"","topic":"home/garden/pool/temperature","qos":"","retain":"","broker":"30c64810.12ee1","x":680,"y":271.25,"wires":[]},{"id":"b0723c3f.e9ed28","type":"rpi-sensehatsim in","z":"83477c2d.7a0ab8","name":"S_GD_TH2","motion":false,"env":true,"stick":false,"x":200,"y":313.25,"wires":[["5ce2d763.5b93b"]]},{"id":"5ce2d763.5b93b","type":"function","z":"83477c2d.7a0ab8","name":"Temperature","func":"var o = msg.payload\nmsg.payload = o.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":274.25,"wires":[["298a3d55.f67022"]]},{"id":"7f01db1c.efca0c","type":"mqtt in","z":"83477c2d.7a0ab8","name":"","topic":"home/garden/pool/temperature","qos":"2","broker":"30c64810.12ee1","x":270,"y":396.25,"wires":[["9185fb20.e51728"]]},{"id":"9185fb20.e51728","type":"ui_gauge","z":"83477c2d.7a0ab8","name":"","group":"a9e21d73.f88988","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":616,"y":388.25,"wires":[]},{"id":"e278e69a.1f5148","type":"ui_gauge","z":"888bee32.7fb9c","name":"","group":"fbf1c235.fa8608","order":0,"width":0,"height":0,"gtype":"gage","title":"Instant consumption","label":"kwh","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":574.5,"y":105,"wires":[]},{"id":"f6a7e297.160368","type":"random","z":"888bee32.7fb9c","name":"","low":"0.3","high":"0.5","inte":"false","x":230.5,"y":178,"wires":[["f2cbdf64.98f8d"]]},{"id":"360fe18f.6a89f6","type":"inject","z":"888bee32.7fb9c","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":94.5,"y":69,"wires":[["f6a7e297.160368"]]},{"id":"f2cbdf64.98f8d","type":"function","z":"888bee32.7fb9c","name":"round","func":"var c = Math.round((msg.payload*100)) /100;\nmsg.payload = c;\nreturn msg;","outputs":1,"noerr":0,"x":370.5,"y":180,"wires":[["e278e69a.1f5148"]]},{"id":"30000474.c4911c","type":"ui_form","z":"888bee32.7fb9c","name":"","label":"Code alarm","group":"db5216ce.793e4","order":0,"width":0,"height":0,"options":[{"label":"insert code","value":"insert code","type":"password","required":true}],"formValue":{"insert code":""},"payload":"","topic":"","x":588.5,"y":170,"wires":[[]]},{"id":"af8c40b1.3ca3d","type":"ui_button","z":"888bee32.7fb9c","name":"","group":"aab0e432.f2a4e","order":0,"width":0,"height":0,"label":"Close all windows","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":270.5,"y":282,"wires":[[]]},{"id":"ac172f03.4502b","type":"ui_button","z":"888bee32.7fb9c","name":"","group":"aab0e432.f2a4e","order":0,"width":0,"height":0,"label":"Open all windows","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":267,"y":326,"wires":[[]]},{"id":"da107397.c8d17","type":"ui_chart","z":"85dde160.1b48b8","name":"","group":"fe9339a5.bef75","order":0,"width":0,"height":0,"label":"PPM","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":686,"y":39,"wires":[[],[]]},{"id":"c54c6205.1525e","type":"function","z":"85dde160.1b48b8","name":"round","func":"var c = Math.round((msg.payload*100)) /100;\nmsg.payload = c;\nreturn msg;","outputs":1,"noerr":0,"x":559,"y":89,"wires":[["da107397.c8d17"]]}]
